.mainBanner:before{
    background-color: rgba(0,0, 0, 0.2);
    /* content: '';
    position: absolute; */
    /* left: 0;
    top: 0;
    height: 100%;
    width: 100%; */
}

.mainBanner{
    margin: auto !important;
    max-width: auto !important;
    padding: 10% !important;

    background-image: url(../../images/nasa-planet.jpg);
    clip-path: polygon(75% 0, 100% 0, 100% 95%, 50% 100%, 0 95%, 0 0);
    height: 820px;
    /* position: relative; */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

}

.accolades{
    text-align: center;
}

.imgFluid{
    max-width: 100%;
}

.bannerHeader{
    color: white;
    font-size: calc(22px + 1vw);    
    text-align: center;
    text-shadow: -1px -1px 0 #000,
		3px -1px 0 #000,
		-1px 3px 0 #000,
		3px 3px 0 #000;
}

.bannerText{
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
    margin-top: 2rem;
}

.linkContainer{
    text-align: center;
}

.linkButton{
    display: inline-block;    
    vertical-align: middle;
    text-align: center;
    border: 1px solid transparent;    
    transition: color .15s ease-in-out,background-color .15s ease-in-out,
        border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    touch-action: manipulation;
    background-image: none;

    margin: 5px !important;    
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    min-width: 200px;
    border-radius: 25px;    
    letter-spacing: 1px;
    background-color: #3e9d2f;    

    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: 1.15rem;
    line-height: 1.5;
}

.linkButton:hover{
    background-color: #007bff;
}

a{    
    text-decoration: none;
}

.linkButton:not(:disabled):not(.disabled){
    cursor: pointer;
}

.textBox {
    background-color: #1b3769(0, 0, 0, 0.2);
    
}
