.specialtiesDiv{
    padding-top: 6%;
    padding-bottom: 4%;
}

.specialtiesHeader{
    text-align: center;
    color: #1b3769;
    font-size: calc(22px + 1vw)
}

.specialtiesDescription{
    color: #1b3769;
    line-height: 1.5rem;
    font-size: calc(16px + .75vw);
    font-weight: 600;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.specialtiesText{
    color: #1b3769;
    line-height: 1.5rem;
    font-size: calc(16px + .75vw);
    font-weight: 600;
    text-align: center;
    margin: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.specialtiesDescription li{
    list-style-type: none;
}