.headerDaddy{
    background-color: #f8f9fa;
    height:15vw;
}

.titleDaddy{
    padding-left:5%;
    /* margin-top: 3%!important; */
    height: 100%;        
    display:flex;
    align-items: center;
}

.headerTitle{    
    font-size: 3vw;
    margin:auto;
    margin-left: 0;
}

.linkDaddy{
    height: 100%;
    display:flex;
    align-items: center;
}

.headerLinks{      
    font-size: 2vw;
    margin:auto;
    margin-left: 0;
}