.headerDaddy{
    background-color: #f8f9fa;
    height:10vw;    
}

.titleDaddy{
    padding-left:5%;
    /* margin-top: 3%!important; */
    height: 100%;        
    display:flex;
    align-items: center;
    color:#1b3769;
}

.headerTitle{    
    font-size: 3vw;
    margin:auto;
    margin-left: 0;
}

.linkDaddy{
    height: 100%;
    display:flex;
    align-items: center;
}

.headerLinks{          
    font-size: 2vw;
    /* margin:auto; */
    color:#1b3769;
    margin-left: 4%;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: 'Lora', serif;
}

.headerLinks:hover{
    color: yellow;
}

a{
    text-decoration: none;
}